.why-choose-section {
  background-color: #fff;
  padding: 80px 0;
}

.why-choose-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.why-choose-left,
.why-choose-right {
  flex: 1 1 50%;
  max-width: 50%;
  box-sizing: border-box;
}

.why-choose-left .why-tittle {
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: #dce7ff66;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  font-weight: 400;
  margin-bottom: 15px;
}

.why-choose-left .section-heading {
  color: #121212;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 25px;
}

.why-choose-left .section-description {
  color: var(--secondary-color);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* Features */
.why-features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.feature-icon-wrapper {
  width: 70px;
  height: 70px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-icon-wrapper .feature-icon {
  width: 30px;
  height: 30px;
}

.feature-item h4 {
  margin: 0;
  font-size: 1.1rem;
}

.feature-item p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #666;
}
